{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["."],
        "alias": {
          "~assets": "./assets",
          "~assets/*": "./assets/*",
          "~components": "./components",
          "~components/*": "./components/*",
          "~data": "./data",
          "~data/*": "./data/*",
          "~constants": "./constants",
          "~constants/*": "./constants/*",
          "~hooks": "./hooks",
          "~hooks/*": "./hooks/*",
          "~navigation": "./navigation",
          "~navigation/*": "./navigation/*",
          "~screens": "./screens",
          "~screens/*": "./screens/*",
          "~types": "./types",
          "~types/*": "./types/*"
        }
      }
    ]
  ]
}
